In [41]:
from sklearn.metrics import cohen_kappa_score
import pandas as pd
import re

# Annotation agreement

In [2]:
df = pd.read_csv('/Users/ira/Downloads/REALEC_Inspector/data/agreement_data_mistakes.csv')
df.head()

  realec_group     my_group
0     spelling     spelling
1     spelling            -
2     spelling  word_choice
3     spelling  word_choice
4     spelling  word_choice

In [3]:
realec = df['realec_group'].to_list()
my = df['my_group'].to_list()

In [4]:
cohen_kappa_score(realec, my)

0.437891077636153

In [5]:
df_my_group = df[df['my_group'] != '-']

In [6]:
df_my_group['my_group'].value_counts(normalize=True) * 100

word_choice            30.379747
absence/redundant      13.924051
spelling               10.126582
verb                    8.860759
relative_clause         8.860759
discource               7.594937
standard_word_order     7.594937
parallel                2.531646
tense_choice            2.531646
prepositions            1.265823
degree                  1.265823
punctuation             1.265823
noun_number             1.265823
agreement               1.265823
numeral                 1.265823
Name: my_group, dtype: float64

# Grades agreement

In [26]:
df_oi_grades = pd.read_csv('/Users/ira/Downloads/REALEC_Inspector/data/grades_OI.csv',
                           sep=';', names=['name', 'grade'])
df_oi_grades.head()

             name  grade
0   AAliutova_2_2      7
1  AAliutova_13_1      8
2  AAliutova_13_2      9
3  AAliutova_26_2      7
4  AAliutova_27_1      7

In [27]:
df_names = pd.read_csv('/Users/ira/Downloads/REALEC_Inspector/data/new_filenames.csv',
                 sep=';', names=['old', 'new'])
df_names.head()

                    old           new
0       Degtyar_1_2.ann   ADe_1_2.ann
1      INaumov_51_1.ann  INa_51_1.ann
2  Polyanskaya_19_2.ann  LPo_19_2.ann
3   AStepanova_33_2.ann  ASt_33_2.ann
4    Zakharova_95_1.ann  EZa_95_1.ann

In [34]:
df_my = pd.read_csv('/Users/ira/Downloads/REALEC_Inspector/results/feature_result.csv')
df_my = df_my[['name', 'class']]
df_my['class'] = round(df_my['class'] / 10).astype(int)
df_my = df_my[df_my['class'] != 1]
df_my.head()

                             name  class
0  ./data/exam/exam2017/OBy_146_1      6
1   ./data/exam/exam2017/EGe_15_1      6
2    ./data/exam/exam2017/DOv_2_2      6
3   ./data/exam/exam2017/EGe_61_2      6
4  ./data/exam/exam2017/NMya_48_1      6

In [54]:
OI_grades = []
MY_grades = []
for old_name in df_oi_grades['name']:
    try:
        new_name = df_names[df_names['old'].str.contains(old_name)]['new'].iloc[0]
        new_name = re.sub(r'\..+', '', new_name)
        mark_oi = df_oi_grades[df_oi_grades['name'].str.contains(old_name)]['grade'].iloc[0]
    except:
        new_name = None
    if new_name and mark_oi:
        try:
            grade_my = df_my[df_my['name'].str.contains(new_name)]['class'].iloc[0]
        except:
            grade_my = None
        if grade_my:
            OI_grades.append(mark_oi)
            MY_grades.append(grade_my)
            print(new_name, mark_oi, grade_my)

AAl_2_2 7 7
AAl_13_1 8 8
AAl_13_2 9 8
AAl_26_2 7 7
AAl_27_1 7 7
VKo_2_2 7 7
VKo_5_2 8 8
VKo_9_2 7 7
VKo_12_2 8 7
VKo_29_2 7 7
ZEv_3_2 7 8
EEm_14_1 8 7
EEm_14_2 8 7
EEm_16_2 7 7
MTsy_6_2 7 6
KKo_9_1 7 7
VKo_8_1 6 4
VKo_19_1 4 4
VKo_22_1 3 4
VKo_32_2 3 4
ZEv_28_1 4 4
ZEv_28_2 3 6
EEm_28_1 5 4
EEm_28_2 3 4
DZu_40_1 6 4
DZu_40_2 2 4
KKo_18_1 4 4
LPo_8_1 4 4
ASt_34_1 8 7

In [55]:
cohen_kappa_score(OI_grades, MY_grades)

0.32973805855161786

In [56]:
_OI_grades = []
_MY_grades = []
for t in OI_grades:
    if int(t) >= 7:
        _OI_grades.append('best')
    else:
        _OI_grades.append('non-best')
for t in MY_grades:
    if int(t) >= 7:
        _MY_grades.append('best')
    else:
        _MY_grades.append('non-best')

In [57]:
cohen_kappa_score(_OI_grades, _MY_grades)

0.9297820823244553

In [ ]:
0.93